/* @import "tailwindcss"; */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  font-family: 'Gowun Dodum', 'Noto Sans KR', sans-serif;
  overflow: hidden;
  /* Ensure global overflow prevention */
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}